h2{
	padding-top:5em;
}
.contArt{
	width: 100%;
}
.description {
	background-color:#C9C9C9;
	padding:1em;
	text-align: center;
	margin:auto;
	margin-bottom:1.5em;
	width: 100%;
	height: 35em;
	border:0.03em solid rgb(200, 200, 200);
}

.imaPrin{
	width: 30%;
	float: left;
	margin-right: 1em;

}
.descComun{
	width: 60%;
	height: auto;
	background-color: #fff;
	float: left;
	border-radius: 1em;
	border:0.03em solid rgb(200, 200, 200);

}
.titulo{
	width: 100%;
	height: 15%;
	font-size: 1em;
	color: #000;
	font-weight: bold;
	padding: 0.5em;
	border-bottom: 0.03em solid rgb(200, 200, 200);

}
.descripcion{
	width: 100%;
	height: 70%;
	font-size: 0.8em;
	color: #000;
	padding: 0.5em;
}
p{
	display: block;
	font-size: 1em;
	text-align: left;
}

.precioP{
	clear:both;
	width: 40%;
	height: 15%;
	font-size: 0.7em;
	font-weight: bold;
	color: #000;
	float: left;
	text-align: center;
	box-sizing: border-box;
}
.botonCarrito2{
	width: 40%;
	height: 15%;
	color: #000;
	float: right;
	padding-top: 0.1em;
	margin-right:1em;
	box-sizing: border-box;

}
a.botonCarrito{
	font-size: 0.5em;
	color:black;
	background-color: rgba(255, 50, 50,0.2);
	display: block;
	width: 90%;
	border-radius: 0.7em;
	padding:5px;
	text-align: center;
	text-decoration: none;
	transition:0.5s;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border:0.03em solid black;
}
a.botonCarrito:hover{
	background-color: rgba(255, 50, 50,0.5);
	box-shadow: rgba(255, 55,55,0.5) 0 0 10px;
}
.redesSociales{
	float: left;
	width: 100%;
	color: #000;
	font-size: 1.2em;
	background-color: #fff;
	text-align: center;
	margin-top: 0.5em;
	border-radius: 1em;
	border:0.03em solid rgb(200, 200, 200);
}
.redesSociales span{
	padding:1em;
}

.contRelacionados{
	width: 100%;
	height: 15em;
}
.description, .imaPrin, .descComun, .titulo, .descripcion, .precioP, .botonCarrito, .redesSociales{
box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */}
.fancybox{
	float: left;
	margin-left: 15px;
}


/*tablet*//*tablet*//*tablet*//*tablet*//*tablet*/
@media screen and (min-width:47em){ 
.description {
	height: 25em;
}
.descComun{
	height: 22.5em;
	width: 20.5em;
}
p{
	display: block;
	font-size: 1em;
	text-align: left;
}
.precioP{
	font-size: 1.2em;
}
/*tablet*//*tablet*//*tablet*//*tablet*//*tablet*/
/*pc*//*pc*//*pc*//*pc*//*pc*//*pc*//*pc*//*pc*/

@media screen and (min-width:60em){
h2{
	padding-top:0;
}
.description {
	height: 22em;
}
.descripcion p{
	font-size:1.3em;
}
.precioP{
	font-size: 2em;
}
.descComun{
	height: 17em;
	width: 66%;
}
.imaPrin{
	width: 30%;
	float: left;
	margin-right: 1em;
}