@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');
*{
	padding:0;
	margin:0;
}
/*Celular*/
body{
	width:100%;
	margin:auto;
	font-family: 'PT Sans Caption', sans-serif;
	background-color: #e5e5e5;

}
header{
	width: 100%;
	height: 5.3em;
	background-color: grey;
	padding: 0% 0% 0% 1%;
	position: fixed;
	z-index: 4;
}

#logo{
	width:5em;
	float:left;
}

#contHeader1{
	width: 55%;
	float: right;
	margin-top: 0.1em;
}
#contDir{
	display:none;
	width: 50%;
	float: left;
	padding-top:0.1em;
	text-align: right;
}
#contLogin{
	width: 30%;
	font-size: 10px;
	float: left;
	box-sizing:border-box;
	margin-left: 0.2em;
}
.loginUL{
	text-decoration: none;
	box-sizing:border-box;
	float:right;
}
.loginLI{
	display: block;
	width: 6.5em;
	padding: 0.5em 0;
	text-align:center;
	margin-right: 0.3em;
	color: #000;
	box-sizing:border-box;
	float:left;
	transition:0.3s;
}
.loginLI:hover{
	background-color:orange;
	color:#fff;
	box-shadow: grey 0 0 1em;
}
#contRedes{
	max-width: 5em;
	float: right;
}
.redSocialTop{
	width: 30%;
	height: 100%;
	float: left;
	margin-right: 1%;
}
#contHeader3{
	width: 60%;
	float: right;
}
#contBuscar{
	width: 60%;
	height: auto;
	float: left;
	box-sizing: border-box;
}
[type="search"]{
	margin: 0;
	width: 70%;
	float: left;
}
#buscar{
	padding: 0.28em 0.3em;
	cursor:pointer;
	font-size: 0.7em;
  	color: #000;
  	float: left;
  	cursor:pointer; 
}
#contCarrito{
	width:auto;
	height: auto;
	float: left;
	box-sizing: border-box;
}
#boxCarr{
	width: 30px;
	position: relative;
}
#carrito{
	box-sizing: border-box;
	transition:0.3s;
	cursor:pointer;
	font-size: 0.8em;
  	color: #000;
  	float: left;
  	padding-top: 0.3em;
}
#carrito:hover{
  	color: orange;
}
.sumaCarrito{
	font-weight: bold;
	border-radius: 50%;
	background-color: orange;
	text-align: left;
	width: 0.8em;
	font-size: 11px;
	float: right;
	z-index: 2;
}
#contMenu{
	width:100%;
	box-sizing: border-box;
	margin-top: 0.8em;
	position:absolute;
	right: 0;
	bottom:-0.9em;
	background-color: white;
	border-bottom: 1px solid black;
}
.menuPrincipal{
	width: 100%;
	box-sizing:border-box;
}
.mpUL{
	width: 100%;
	text-decoration: none;
}
.mpLI{
	display: block;
	width: 33%;
	text-align:center;
	color: #000;
	box-sizing:border-box;
	float:right;
	transition:0.3s;
	border-radius: 1em 1em 0.2em 0.2em;
	font-size: 12px;
}
.mpLI:hover{
	background-color:orange;
	color:#fff;
	box-shadow: grey 0 0 1em;
}
.mpLI span{
	margin-right: 0.4em;
}
#sliderCont{
	width: 100%;
	height: 110px;
	float: left;
    margin-top:6em;
    background-color: #fff;
}
iframe{
	background-color: none;
	border: none;
}

article{
	background-color:#C9C9C9;
	padding:1em;
	text-align: center;
	margin:auto;
	margin-bottom:1.5em;
	width: 80%;
	box-sizing:border-box;
	transition:0.3s;
	border:0.03em solid rgb(200, 200, 200);
}
article:hover{
	box-shadow: rgb(100, 100, 100) 0 0 10px;
}
.ofertasRelative{
	position:relative;
}
.nombreProducto{
	font-size:1em;
	display: block;
	width:100%;
	margin: 0.7em 0;
}
.precio{
	font-size:1.5em;
	font-weight: bold;
	display: block;
	width: 100%;
	margin-bottom: 4%;

}
a.boton{
	font-size: 0.8em;
	color:black;
	background-color: white;
	display: block;
	width: 90%;
	border-radius: 0.7em;
	padding:5px;
	text-align: center;
	text-decoration: none;
	transition:0.3s;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border:0.03em solid black;
	cursor: pointer;
}
a.boton:hover{
	background-color: orange;
	color:white;
}
article img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 100%;
    height: auto;
    box-shadow: rgba(220, 212, 203,1) 0 0 10px;
}
.oferta{
	background-color: #04B45F;
	text-transform: uppercase;
	position:absolute;
	top:0;
	right:0;
	border-radius: 0  0 0 1em;
	padding:0.2em;
	color: #fff;
}

h2{
	font-size: 1.5em;
	color: orange;
	text-align: center;	
	margin-top:0%;
	margin-bottom:1.4em;
	box-shadow: rgba(220, 212, 203, 3) 0px 1px 10px; 
}
section{
	width: 80%;
	margin:auto;
	padding: 0 5%;
}
footer{
	clear: both;
	width: 80%;
	height: 14em;
	padding: 7% 10%;
	margin: auto;
	background-color: #000; 
	font-size: 8px;
}
.caja1{
	float: left;
	width:28%;
	height: auto;
	margin: auto;
	margin-left: 1em; 
	padding: 5px 0;
	color: #fff;
	text-align: center;
}
.menuInferior{
	font-size:1em;
}
#redes{
	background-color: red;
	margin-top: 0.5em;
}
footer a{
	text-decoration: none;
	color: #fff;
	font-size: 0.8em;
}
footer img {
	width: 3em;
	height: 3em;
	
}
h5{
	font-size: 1.2em;
}
#contAside{
	width: 100%;
	height: 6em;
	box-sizing: border-box;
}
.marca{
	width: 5em;
	transition:0.4s;
	border-radius: 10%;
}
.marca:hover{
	background-color:rgba(255,100,0,0.2);
}
img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}


/*Celular*//*Celular*//*Celular*//*Celular*//*Celular*/
/*tablet*//*tablet*//*tablet*//*tablet*//*tablet*/

@media screen and (min-width:47em){ 
header{
	width: 100%;
	height: 6em;
	background-color: #fff;
	position: fixed;
	z-index: 4;
	border-bottom: 0.1em solid grey;
	box-sizing:border-box;
}
#logo{
	width:5em;
	float: left;
}
#contHeader1{
	width: 85%;
	float: right;
	margin-top: 0.1em;
}
#contDir{
	display:block;
	width: 40%;
	float: left;
	padding-top:0.1em;
}
#contLogin{
	width: 40%;
	font-size: 13px;
	float: left;
	padding-top:0.1em;
}
.loginUL{
	text-decoration: none;
	box-sizing:border-box;
	float:right;
}
.loginLI{
	display: block;
	width: 5.7em;
	text-align:center;
	margin-right: 0.3em;
	color: #000;
	box-sizing:border-box;
	float:left;
	transition:0.3s;
}
#contRedes{
	max-width: 14%;
	float: right;
}
.redSocialTop{
	width: 30%;
	float: left;
}
#contHeader3{
	width: 85%;
	float: right;
}
#contBuscar{
	width: 30%;
	height: auto;
	float: left;
	padding: 0.5em 0 0 0;
	box-sizing: border-box;
}
[type="search"]{
	margin: 0;
	width: 80%;
	padding:0.4em;
	float: left;
}
#buscar{
	padding: 0.18em 0.3em;
	cursor:pointer;
	font-size: 1.1em;
  	color: #000;
  	float: left;
  	cursor:pointer; 
}
#contCarrito{
	width:auto;
	height: auto;
	float: left;
	box-sizing: border-box;
}
#boxCarr{
	width: 40px;
	height: 50px;
	position: relative;
	z-index:5;
}
#carrito{
	box-sizing: border-box;
	transition:0.3s;
	cursor:pointer;
	font-size: 1.6em;
  	color: #000;
  	float: left;
  	padding-top: 15%;
}
#carrito:hover{
  	color: orange;
}
.sumaCarrito{
	font-weight: bold;
	border-radius: 50%;
	background-color: orange;
	text-align: center;
	width: 1em;
	padding: 0.3%;
	float: right;
	z-index: 2;
	margin-top: 0em;
}
#contMenu{
	width:60%;
	float: right;
	box-sizing: border-box;
	position:absolute;
	right: 0;
	bottom:0;
	border-bottom:none;
	background-color:none;
}
.menuPrincipal{
	width: 100%;
	box-sizing:border-box;
}
.mpUL{
	width: 100%;
	text-decoration: none;
}
.mpLI{
	display: block;
	width: 27%;
	text-align:center;
	padding: 0.5em 0.1em;
	margin-left: 0.5em;
	color: #000;
	box-sizing:border-box;
	float:right;
	transition:0.3s;
	border-radius: 1em 1em 0.2em 0.2em ;
}
.mpLI:hover{
	background-color:orange;
	color:#fff;
	box-shadow: grey 0 0 1em;
}
.mpLI span{
	margin-right: 0.4em;
}
article{
	width: 45%;
	margin-left:3%;
	float:left;
}

main{
	width: 90%;
	height: auto;
	margin:auto;
	margin-bottom: 1em;
	padding-bottom: 1em;
	background-color: #fff;
	
}
#sliderCont{
	width: 100%;
	height: 200px;
	float: left;
    margin-top:6em;
    margin-bottom: 0.5em;
    background-color: #fff;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.clear{
	clear:both;
}


.caja1{
	width: 30%;
}
footer{
	height: 4em;
	padding-top:1em;
	font-size: 12px;
}

}

/*tablet*//*tablet*//*tablet*//*tablet*//*tablet*/
/*pc*//*pc*//*pc*//*pc*//*pc*//*pc*//*pc*//*pc*/

@media screen and (min-width:60em){

article{
	width: 30%;
	margin: 0 1.5%;
	margin-bottom: 3%;
}
main{
	width: 90%;
	height: auto;
	padding-top: 15em;
	margin:auto;
	margin-bottom: 1em;
	padding-bottom: 1em;
	background-color: #fff;
}

header{
	width: 100%;
	height: 8.3em;
	background-color: #fff;
	position: fixed;
	z-index: 4;
	border-bottom: 0.1em solid grey;
	box-sizing:border-box;
	padding: 0 4em;
}
#logo{
	width:8em;
	float: left;
}

#contHeader1{
	width: 80%;
	float: right;
	margin-top: 0.2em;
}
#contDir{
	width: 50%;
	float: left;
	padding-top:0.6em;
	text-align: right;
}
#contLogin{
	width: 25%;
	float: left;
	box-sizing:border-box;
	margin-left: 2em;
}
.loginUL{
	text-decoration: none;
	box-sizing:border-box;
	float:right;
}
.loginLI{
	display: block;
	width: 6.5em;
	padding: 0.5em 0;
	text-align:center;
	margin-right: 0.3em;
	color: #000;
	box-sizing:border-box;
	float:left;
	transition:0.3s;
}
.loginLI:hover{
	background-color:orange;
	color:#fff;
	box-shadow: grey 0 0 1em;
}
#contRedes{
	max-width: 14%;
	float: right;
}
.redSocialTop{
	width: 30%;
	height: 100%;
	float: left;
	margin-right: 3%;
}
#contHeader3{
	width: 80%;
	float: right;
}
#contBuscar{
	width: 40%;
	height: auto;
	float: left;
	padding: 1.8em 0 0 0;
	box-sizing: border-box;
}
[type="search"]{
	margin: 0;
	width: 80%;
	padding:0.6em;
	float: left;
}
#buscar{
	padding: 0.28em 0.3em;
	cursor:pointer;
	font-size: 1.3em;
  	color: #000;
  	float: left;
  	cursor:pointer; 
}
#contCarrito{
	width:auto;
	height: auto;
	float: left;
	padding: 0.5% 0 0 0;
	box-sizing: border-box;
}
#boxCarr{
	width: 50px;
	height: 50px;
	position: relative;
}
#carrito{
	box-sizing: border-box;
	transition:0.3s;
	cursor:pointer;
	font-size: 1.8em;
  	color: #000;
  	float: left;
  	padding-top: 50%;
}
#carrito:hover{
  	color: orange;
}
.sumaCarrito{
	font-weight: bold;
	border-radius: 50%;
	background-color: orange;
	text-align: center;
	width: 1em;
	padding: 0.2%;
	float: right;
	z-index: 2;
	margin-top: 1em;
}
#contMenu{
	width:50%;
	float: right;
	box-sizing: border-box;
	margin-top: 0.8em;
}
.menuPrincipal{
	width: 100%;
	box-sizing:border-box;
}
.mpUL{
	width: 100%;
	text-decoration: none;
}
.mpLI{
	display: block;
	width: 27%;
	text-align:center;
	margin-top:1em;
	padding: 1em 0.1em;
	color: #000;
	box-sizing:border-box;
	float:right;
	transition:0.3s;
	border-radius: 1em 1em 0.2em 0.2em ;
}
.mpLI:hover{
	background-color:orange;
	color:#fff;
	box-shadow: grey 0 0 1em;
}
.mpLI span{
	margin-right: 0.4em;
}
main{
	width: 90%;
	height: auto;
	padding-top: 15em;
	margin:auto;
	margin-bottom: 1em;
	padding-bottom: 1em;
	background-color: #fff;
	
}
#sliderCont{
	width: 100%;
	height: 330px;
	float: left;
    margin-top:8.3em;
    margin-bottom: 0.9em;
    background-color: #fff;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

footer{
	padding-bottom:5em;
}
}